html, body {
  height: 100%;
  font-family: 'Alegreya Sans', sans-serif;
}

#joanne {
  font-family: 'Tangerine', cursive;
  font-size: 100px;
}

#developer {
  text-shadow: #000 0px 0px 1px;
}

@media(max-width:768px) {
  #header {
    text-align: center;
  }
  #aboutme {
    text-align: center;
  }
  #about hr, #contact hr {
    margin: 8% auto;
  }
  #contact {
    text-align: center;
  }
  video {
    transform: translateX(-85%) translateY(-50%);
  }
}

.navbar {
  background-color: rgba(21, 31, 33, 0.8);
  border-bottom: 1px solid #dedede;
  padding-right: 50px;
  font-family: 'Alegreya Sans', sans-serif;
}

@media(max-width:768px) {
  .navbar {
    padding-right: 0px;
  }
}

.navbar .nav .nav-item .nav-link {
  color: #fff;
}

.navbar .nav .nav-item .nav-link:hover {
  color: #00CED1;
}

.home-button {
  color: #fff;
}

.home-button:hover {
  color: #00CED1;
}

/* HEADER */

video {
  display: block;
  position: relative;
  margin-top: 350px;
  margin-bottom: -350px;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

.video-container {
  overflow: hidden;
}

.parallax {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
}

.parallax.x1 {
  background-image: url("../img/coder.png");
}

.parallax.x2 {
  background-image: url("../img/getjob.png");
}

.parallax.x3 {
  background-image: url("../img/whynot.png");
}

#discription {
  position: absolute;
  text-align: center;
  margin-top: -650px;
  color: #fff;
}

#chevron {
  position: absolute;
  text-align: center;
  margin-top: -250px;
  color: #fff;
}

.fa-chevron-down {
  color: #fff;
}

.fa-chevron-down:hover {
  color: #00CED1;
  text-decoration: none;
}

/* Underline From Left */
.hvr-underline {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #eee;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline:hover:before, .hvr-underline:focus:before, .hvr-underline:active:before {
  right: 0;
}

/*About*/
#about {
  padding: 4.25rem 0;
}

.selfie {
  width: 80%;
  height: 80%;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

/*Projects*/
#projects {
  padding: 4.25rem 0;
  background-color: #E0FFFF;
}

.card-img-top {
  width: 100%;
  height: 285px;
}

.card-block {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

#projects .projects-img {
  position: relative;
}

#projects .projects-img .img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 285px;
  background-image: url('../img/link.png');
  background-size: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  transition: all 0.2s linear, 1s;
}

#projects .projects-img .img-overlay:hover {
  opacity: 1;
  z-index: 1;
}

.btn-custom {
  font-size: 18px;
  border-color: #00CED1;
  background-color: #00CED1;
  width: 80%;
}

.btn-custom-update {
  width: 50%;
}

.btn-custom:hover {
  font-weight: bold;
  color: #00CED1;
  border-color: #00CED1;
  background-color: #fff;
  transition: all 550ms linear;
}

/*EXPERIENCE*/
#experience {
  padding: 4.25rem 0;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #00CED1;
  left: 50%;
  margin-left: -1.5px;
}

.timeline>li {
  margin-bottom: 20px;
  position: relative;
}

.timeline>li:before, .timeline>li:after {
  content: " ";
  display: table;
}

.timeline>li:after {
  clear: both;
}

.timeline>li:before, .timeline>li:after {
  content: " ";
  display: table;
}

.timeline>li:after {
  clear: both;
}

.timeline>li>.timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #00CED1;
  border-radius: 15px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline>li>.timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #00CED1;
  border-right: 0 solid #00CED1;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline>li>.timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content:" ";
}

.timeline>li>.timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #00CED1;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.primary {
  background-color: #00CED1 !important;
}

.timeline-badge.warning {
  background-color: #00CED1 !important;
}

.timeline-badge.danger {
  background-color: #00CED1 !important;
}

.timeline-badge.info {
  background-color: #00CED1 !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body>p, .timeline-body>ul {
  margin-bottom: 0;
}

.timeline-body>p+p {
  margin-top: 5px;
}

@media (max-width: 767px) {
  ul.timeline:before {
    left: 40px;
  }
  ul.timeline>li>.timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }
  ul.timeline>li>.timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }
  ul.timeline>li>.timeline-panel {
    float: right;
  }
  ul.timeline>li>.timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  ul.timeline>li>.timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}

.timeline-panel:hover {
  background-color: #fff;
  transition:all 550ms linear;
  transform: scale(1.05, 1.05);
}

/*SKILLS*/
#skills {
  padding: 4.25rem 0;
  background-color: #E0FFFF;
}

#skill-box {
  text-align: center;
  padding: 50px;
}


#skills .fa {
  color: #00CED1;
}

#skill1 {
  list-style: none;
  width: 100%;
  margin: 50px auto 0;
  position: relative;
  line-height: 2em;
  padding: 30px 0;
}

#skill1 li {
  margin-bottom: 50px;
  background: #e9e5e2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e1ddd9), to(#e9e5e2));
  background-image: -webkit-linear-gradient(top, #e1ddd9, #e9e5e2);
  background-image: -moz-linear-gradient(top, #e1ddd9, #e9e5e2);
  background-image: -ms-linear-gradient(top, #e1ddd9, #e9e5e2);
  background-image: -o-linear-gradient(top, #e1ddd9, #e9e5e2);
  background-image: linear-gradient(top, #e1ddd9, #e9e5e2);
  height: 20px;
  border-radius: 10px;
  -moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
  -webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
  box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
}

#skill1 li h3 {
  position:relative;
  top: -25px;
}

.bar {
  left: 0px;
  height: 18px;
  margin: 1px 2px;
  position: absolute;
  border-radius: 10px;
  -moz-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
  -webkit-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
  box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
}

.super-strong {
  width: 100%;
  -moz-animation: super-strong 2s ease-out;
  -webkit-animation: super-strong 2s ease-out;
  background-color: #f674a4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f674a4), to(#e06995));
  background-image: -webkit-linear-gradient(top, #f674a4, #e06995);
  background-image: -moz-linear-gradient(top, #f674a4, #e06995);
  background-image: -ms-linear-gradient(top, #f674a4, #e06995);
  background-image: -o-linear-gradient(top, #f674a4, #e06995);
  background-image: linear-gradient(top, #f674a4, #e06995);
}

.strong {
  width: 90%;
  -moz-animation: strong 2s ease-out;
  -webkit-animation: strong 2s ease-out;
  background-color: #f0bb4b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0bb4b), to(#d9aa44));
  background-image: -webkit-linear-gradient(top, #f0bb4b, #d9aa44);
  background-image: -moz-linear-gradient(top, #f0bb4b, #d9aa44);
  background-image: -ms-linear-gradient(top, #f0bb4b, #d9aa44);
  background-image: -o-linear-gradient(top, #f0bb4b, #d9aa44);
  background-image: linear-gradient(top, #f0bb4b, #d9aa44);
}

.good {
  width: 65%;
  -moz-animation: good 2s ease-out;
  -webkit-animation: good 2s ease-out;
  background-color: #a1ce5b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a1ce5b), to(#91ba52));
  background-image: -webkit-linear-gradient(top, #a1ce5b, #91ba52);
  background-image: -moz-linear-gradient(top, #a1ce5b, #91ba52);
  background-image: -ms-linear-gradient(top, #a1ce5b, #91ba52);
  background-image: -o-linear-gradient(top, #a1ce5b, #91ba52);
  background-image: linear-gradient(top, #a1ce5b, #91ba52);
}

.acceptable {
  width: 80%;
  -moz-animation: acceptable 2s ease-out;
  -webkit-animation: acceptable 2s ease-out;
  background-color: #66b3cc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#66b3cc), to(#5da3ba));
  background-image: -webkit-linear-gradient(top, #66b3cc, #5da3ba);
  background-image: -moz-linear-gradient(top, #66b3cc, #5da3ba);
  background-image: -ms-linear-gradient(top, #66b3cc, #5da3ba);
  background-image: -o-linear-gradient(top, #66b3cc, #5da3ba);
  background-image: linear-gradient(top, #66b3cc, #5da3ba)
}

@-moz-keyframes super-strong {
  0% {
    width:0px;
  }
  100% {
    width:100%;
  }
}

@-moz-keyframes strong {
  0% {
    width:0px;
  }
  100% {
    width:90%;
  }
}

@-moz-keyframes good {
  0% {
    width: 0px;
  }
  100% {
    width: 65%;
  }
}

@-moz-keyframes acceptable {
  0% {
    width: 0px;
  }
  100% {
    width: 80%;
  }
}

@-webkit-keyframes super-strong {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes strong {
  0% {
    width: 0px;
  }
  100% {
    width: 90%;
  }
}

@-webkit-keyframes good {
  0% {
    width: 0px;
  }
  100% {
    width: 65%;
  }
}

/*SHARE*/
#share {
  padding: 4.25rem 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
  width: 70%;
  margin: auto;
}

.carousel-inner .item img {
  max-width: 100%;
  max-height: 100%;
  width: 580px;
  height: 420px;
}


/*Contact */
#contact {
  padding: 4.25rem 0;
  background-color: #E0FFFF;
}

#contact .fa-icons {
  font-size: 2em;
  color: #fff;
  background-color: #00CED1;
  width: 60px;
  height: 60px;
  border-radius: 30%;
  text-align: center;
  padding: 25% 0;
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.4s ease-in-out;
}

#contact .fa-icons:hover {
  color: #00CED1;
  background: #fff;
  border: 2px solid #00CED1;
}

@keyframes bounces {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.bounces:hover {
  animation: bounces 1s;
}

.descriptions {
  font-weight: 300;
  color: #fff;
  text-shadow: 0 0 1px #00CED1, 0 0 2px #00CED1, 0 0 3px #00CED1, 0 0 5px #00CED1, 0 0 3px #00CED1, 0 0 8px #00CED1, 0 0 10px #00CED1, 0 0 15px #00CED1;
}

.descriptions-update {
  text-shadow: 2px 2px 4px #00CED1;
}

.descriptions-update-color {
  color: grey;
  font-style: italic;
}

#selfie, #icons, #technical-skill, #projects-list, #experience-timeline, #share-info, #contact-info {
  text-align: center;
}

.cover-spinner {
  height: 100%;
  width: 100%;
  z-index: 2000;
  position: fixed;
}

.cover-spinner img {
  display: block;
  margin-top: 20%;
  margin-right: auto;
  margin-left: auto;
}
