html, body {
  height: 100%;
  font-family: 'Alegreya Sans', sans-serif;
}

@media(max-width:768px) {
  #header {
    text-align: center;
  }

  #aboutme {
    text-align: center;
  }

  #about hr, #contact hr {
    margin: 8% auto;
  }
  #contact {
    text-align: center;
  }

}

.navbar {
  background-color: rgba(21,31,33,0.5);
  border-bottom: 1px solid #dedede;
  font-family: 'Alegreya Sans', sans-serif;
}

.navbar .nav .nav-item .nav-link {
  color: #ADD8E6;
}

.navbar .nav .nav-item .nav-link:hover {
  color: #fff;
}

.home-button {
  color: #ADD8E6;
}

.home-button:hover {
  color: #fff;
}

/* HEADER */

#header {
  background: url('../img/background3.jpg') center center no-repeat;
  background-size: cover;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
}

/*About*/
#about {
  padding: 4.25rem 0;
}


/*Contact */
#contact {
  padding: 4.25rem 0;
  background-color: #ADD8E6;
}

#contact .fa {
  font-size: 2em;
  color: #808080;
  border: 2px solid #808080;
  width: 60px;
  height: 60px;
  border-radius: 30%;
  text-align: center;
  padding: 25% 0;
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition:all 0.4s ease-in-out;
}

#contact .fa:hover {
  color: #fff;
  background: #808080;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
.bounce:hover {
  animation: bounce 1s;
}


.description {
  font-weight: 300;
  font-size: 24px;
  color: white;
  text-shadow:  0 0 1px #1D2024, 0 0 2px #2C284A,  0 0 3px #2C284A, 0 0 5px #2C284A, 0 0 3px #2C284A, 0 0 8px #2C284A, 0 0 10px #2C284A, 0 0 15px #2C284A;
}

.selfie {
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

#selfie, #icons, #technical-skill {
  text-align: center;
}



/*Skills*/
#skills {
  padding: 4.25rem 0;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}


/*Projects*/
#projects {
  padding: 4.25rem 0;
  background-color: #ADD8E6;
}

.card-img-top {
  height: 150px;
  width: 100%;
}

#projects .projects-img {
  position: relative;
}

#projects .projects-img .img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  background-image: url('../img/link.png');
  background-size: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  transition:all 0.2s linear, 1s;
}

#projects .projects-img .img-overlay:hover {
  opacity: 1;
  z-index: 1;
}
